django==1.3.1
django-debug-toolbar==0.8.4
django-extensions==0.6
django-model-utils
werkzeug==0.6.2
south==0.7.3
-e git+http://github.com/pydanny/django-uni-form.git#egg=django_uni_form-0.8.0-py2.7-dev
fabric
geopy==0.94
pygeocoder
sorl-thumbnail
psycopg2==2.4.1

# facebook stuff
-e git+git://github.com/cshoe/django-la-facebook.git@v0.0.6#egg=django-la-facebook
httplib2==0.6.0
oauth2==1.5.150

# registration
-e hg+http://bitbucket.org/ubernostrum/django-registration#egg=django_registration

sphinx==1.0.7
coverage==3.4
django-coverage==1.1.1

# DOWNGRADED TO 1.5 FROM 2.0
# SEE: https://bugs.launchpad.net/dateutil/+bug/746550
#      http://devpython.com/2011/08/11/convert-utc-date-string-to-unix-timestamp/
python-dateutil==1.5

lxml==2.3

gevent==0.13.3
greenlet==0.3.1

# custom pagination
-e git+git://github.com/q/django-pagination.git#egg=django-pagination

# custom haystack
# added geodistance filtering and sorting
-e git+git://github.com/frutik/django-haystack.git@1.2.X_GEO_RC5#egg=django-haystack
pysolr

# bcrypt
py-bcrypt
-e git+git://github.com/q/django-bcrypt.git#egg=django-bcrypt

# aws
boto


# mail
-e git+git://github.com/winhamwr/django-mailer.git#egg=django-mailer
django-ses

suds

#Python Imaging Library
pil

# Testing
mock==0.7.2
nose==1.1.2
django-nose==0.1.3
nose-exclude==0.1.5

#memcache
python-memcached

#compressor
BeautifulSoup
django_compressor

#neighborhoods
django-mptt

#tagging
django-taggit

django-qsstats-magic

-e hg+http://bitbucket.org/jmoiron/johnny-cache#egg=johnny-cache
babel==0.9.6

django-staticfiles==1.1.2
django-storages==1.1.3
