    {% if  records %}
    <table class="zebra-striped">
    <thead>
        <tr>
            <th width="5px;"><input onchange="updateAllCheckboxes(this, '.list_item');" type="checkbox" class="" id="" /></th>
            <th>Name</th>
            <th width="150px;">Phone</th>
        </tr>
    </thead>
    <tbody id="myList">
    {% for record in records %}
    <tr class="ln-a">
        <td width="5px;"><input onchange="updateCheckboxes(this);" type="checkbox" class="list_item" id="trg_{{ record.id }}" /></td>
        <td>{{ record.title }}</td>
        <td>{{ record.phone_number }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{#    Letter navigation#}
    <div id="myList-nav"></div>
    <script>
         $('#myList').listnav({
             includeOther: true,
             //flagDisabled: true,
             noMatchText: 'Nothing matched your filter, please click another letter.',
             showCounts: true,
             cookieName: 'my-main-list',
             //onClick: function(letter){ alert('You clicked ' + letter); },
             prefixes: ['the','a']
         });
    </script>

    {% else %}
        <div class="alert-message error">
            <p><strong>Sorry,</strong> you haven't contacts.</p>
        </div>
    {% endif %}

