{# Create dialogl #}

<script type="text/javascript" src="{{ STATIC_URL }}app/js/create_window.js"></script>

<div id="create_form" class="modal" style="width: 800px; position: absolute; top: 100px; left: 50px; margin: 0 auto; z-index: 1; display: none;">
  <div class="modal-header">
    <h3>{{ title }}</h3>
  </div>
  <div class="modal-body" id="modal_body">
  </div>
  <div class="modal-footer">
    <a href="#" id="save_button" class="btn primary" onclick="javascript:CreateRecordForm.submit();">Save</a>
    <a href="#" id="cancel_button" class="btn secondary" onclick="javascript:CreateRecordForm.cancel();">Cancel</a>
  </div>
</div>
