    {% if  records %}
    <table class="zebra-striped">
    <thead>
        <tr>
            <th width="5px;"><input onchange="javascript:Grid.updateAllCheckboxes(this);" type="checkbox" class="" id="supercheckbox" /></th>
            {% for column in columns %}
                <th{% if column.width %} width="{{ column.width }}"{% endif %}>{{ column.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="myList">
    <form id="recordset" method="post" action="{{ action }}">
    <input id="recordset_action" type="hidden" name="action" value=""/>{% csrf_token %}
    {% load grid_extras %}
    {% for record in records %}
    <tr class="ln-a">
        <td width="5px;"><input value="{{ record.id }}" name="record_id" onchange="javascript:Grid.updateCheckbox(this);" type="checkbox" class="list_item" id="record_{{ record.id }}" /></td>
        {% for column in columns %}
            {% with key=column.key %}
                <td>
                {% if key == 'title' %}
                    <a href="javascript:editRecord({{ record.id }});">{{ record|get_attribute_by_name:key }}</a>
                {% else %}
                    {{ record|get_attribute_by_name:key }}
                {% endif %}
                </td>
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
    </form>
    </tbody>
    </table>
    <script>
        jQuery("#recordset").submit(function(e){
            submitGridMassAction(e);
        });
    </script>

{#    Letter navigation#}
    <div id="myList-nav"></div>
    <script>
         $('#myList').listnav({
             includeOther: true,
             //flagDisabled: true,
             noMatchText: 'Nothing matched your filter, please click another letter.',
             showCounts: true,
             cookieName: 'my-main-list',
             //onClick: function(letter){ alert('You clicked ' + letter); },
             prefixes: ['the','a']
         });
    </script>

    {% else %}
        <div class="alert-message error">
            <p>{{ empty_list_message|default:"<strong>Sorry,</strong> you haven't records." }}</p>
        </div>
    {% endif %}

