{% extends "base.html" %}

{% block content %}
    <h1>Adressbook</h1>

    {# Common js settings for this view #}
    <script type="text/javascript">
        var url_load_grid = '{% url adressbook_show_all %}';
        var url_record_add = '{% url adressbook_add %}';
    </script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/css/show_all.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}app/js/all.js"></script>

    {# Success message #}
    {% include "common/message_box.html" %}

    {# Toolbar #}
    <div class="well">
        <button class="btn primary" onclick="javascript:showCreateDialog('#create_form');">Add contact</button>&nbsp;
        <button class="btn disabled massaction" onclick="javascript:deleteSelected();">Delete</button>&nbsp;
        {% if could_be_disabled %}
            <button class="btn disabled massaction" onclick="javascript:disableSelected();">Disable</button>&nbsp;
            <button class="btn disabled massaction" onclick="javascript:enableSelected();">Enable</button>&nbsp;
        {% endif %}
    </div>

    {# Records table #}
    <div id="records_list">
        {% include grid_template %}
    </div>

    {# Create dialogl #}
    {% include "common/create_window.html" with title="Add new contact" %}

 {% endblock %}

