{% extends "base.html" %}

{% block content %}

    <h2>Pipelines</h2>

    <ul class="tabs">
        <li class="active"><a href="{% url pipelines_show_all %}">List</a></li>
        <li><a href="{% url pipelines_execution_log %}">Execution log</a></li>
    </ul>

    {# Common js settings for this view #}
    <script type="text/javascript">
        var url_load_grid = '{% url pipelines_show_all %}';
        var url_record_add = '{% url pipelines_add %}';
    </script>

    <link rel="stylesheet" type="text/css" href="http://localhost/smspipeline/assets/css/show_all.css" />
    <script type="text/javascript" src="http://localhost/smspipeline/assets/js/all.js"></script>

    {# Success message #}
    {% include "common/message_box.html" %}

    {# Toolbar #}
    <div class="well">
        <button class="btn primary" onclick="javascript:showCreateDialog('#create_form');">Create</button>&nbsp;
        <button class="btn disabled massaction" onclick="javascript:deleteSelected();">Delete</button>&nbsp;
        {% if could_be_disabled %}
            <button class="btn disabled massaction" onclick="javascript:disableSelected();">Disable</button>&nbsp;
            <button class="btn disabled massaction" onclick="javascript:enableSelected();">Enable</button>&nbsp;
        {% endif %}
    </div>

    {# Records table #}
    <div id="records_list">
        {% include grid_template %}
    </div>

    {# Create dialogl #}
    {% include "common/create_window.html" with title="Create new pipeline" %}

{% endblock %}

