<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title>sms pipeline engine</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/_main.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost/bootstrap-1.0.0.min.css">
  </head>
  <body>

    <div id="auth">{% if user.is_anonymous %}<a href="{% url auth_login %}">Login</a>{% else %}{{ user }} <a href="{% url auth_logout %}">Logout</a>{% endif %}</div>

    <ul>
	<li><a href="{% url home %}">Main</a></li>
	{% if not user.is_anonymous %}
	<li><a href="{% url pipelines_show_all %}">Pipelines</a></li>
	<li><a href="{% url targets_show_all %}">Targets</a></li>{% endif %}
    <ul>

    <div class="content" id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
