{% extends "base.html" %}

{% block content %}

<h2>Pipelines</h2>

<ul class="tabs">
  <li class="active"><a href="#">List</a></li>
  <li><a href="#">Execution log</a></li>
</ul>

    <div class="well">
        <button class="btn primary" onclick="$('#create_form').show();">Create new</button>&nbsp;
        <button class="btn" disabled>Other action</button>
    </div>
    <table class="zebra-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Active</th>
        </tr>
    </thead>
    {% for pipeline in pipelines %}
    <tbody>
        <tr>
            <td width="5px;"><input type="checkbox" class="target_item" id="trg_{{ pipeline.id }}" /></td>
            <td>{{ pipeline.title }}</td>
            <td>{{ pipeline.enabled }}</td>
        </tr>
    </tbody>
    {% endfor %}
    </table>

    <!-- Modal -->
    <div id="create_form" class="modal" style="position: absolute; top: auto; left: auto; margin: 0 auto; z-index: 1; display: none;">
      <div class="modal-header">
        <h3>Create new pipeline</h3>
        <a href="#" class="close" onclick="$('#create_form').hide();">&times;</a>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn primary">Save</a>
        <a href="#" class="btn secondary" onclick="$('#create_form').hide();">Cancel</a>
      </div>
    </div>

{% endblock %}

